<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Persian_Numerals.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Persian_Numerals.Properties.Settings>
            <setting name="IsPersian" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Role" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="NumLock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="General" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Startup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastUpdate" serializeAs="String">
                <value>2019-12-01</value>
            </setting>
        </Persian_Numerals.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
